body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@import './palette';
@import './responsive';
@import './components/table/style';
@import './components/addForm';
@import './components/table/header';
@import './components/table/row';
