// Coolors Exported Palette - coolors.co/a63a50-f0e7d8-252323-70798c-003049

// RGB 
$error: rgba(219, 41, 45, 1);
$white: rgba(240, 241, 246, 1);
$black: rgba(37, 35, 35, 1);
$border: rgba(112, 121, 140, 1);
$info: rgba(0, 48, 73, 1);
