.add-form {
  &__container {
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 50%;

    &_error {
      background-color: $error;
      border-radius: 3px;
      color: $white;
    }

    &:nth-of-type(even) {
      margin-left: 5px;
    }

    &:nth-of-type(odd) {
      margin-right: 5px;
    }
  }

  &__input {
    border: 1px solid $border;
    border-radius: 3px;
    color: $black;
    font-size: 16px;
    margin: 0 5px;
    padding: 5px 10px;
  }

  &__error {
    color: $white;
    font-size: 14px;
    font-style: italic;
    margin: 5px;
  }

  &__label {
    margin: 5px;
  }

  &__btn {
    background-color: $white;
    border: 1px solid $border;
    border-radius: 3px;
    color: $black;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px 10px;

    &:hover,
    &:focus {
      background: $border;
      color: $white;
    }

    &_disabled {
      cursor: not-allowed;
    }
  }
}
