.table-header {
  &__container {
    border-bottom: 1px solid $border;
    display: none;

    @include breakpoint(md) {
      display: flex;
      flex-direction: row;
      padding: 5px 0;
    }
  }

  &__header {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 20%;
  }
}

.sorting-btn {
  cursor: pointer;
}
