.table-row {
  &__container {
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 10px;

    @include breakpoint(md) {
      flex-direction: row;
    }

    &:nth-of-type(even) {
      background-color: transparent;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    @include breakpoint(md) {
      width: 40%;

      &:last-of-type {
        justify-content: center;
        width: 20%;
      }
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 50%;

    &_error {
      background-color: $error;
      border-radius: 3px;
      color: $white;
    }

    &:nth-of-type(even) {
      margin-left: 5px;

      @include breakpoint(md) {
        margin-left: 0;
      }
    }

    &:nth-of-type(odd) {
      margin-right: 5px;

      @include breakpoint(md) {
        margin-right: 0;
      }
    }
  }

  &__input {
    border: 1px solid $border;
    border-radius: 3px;
    color: $black;
    font-size: 16px;
    margin: 0 5px;
    padding: 5px 10px;

    @include breakpoint(md) {
      margin-top: 5px;
    }
  }

  &__error {
    color: $white;
    font-size: 14px;
    font-style: italic;
    margin: 5px;
  }

  &__label {
    margin: 5px;

    @include breakpoint(md) {
      display: none;
    }
  }

  &__btn {
    background-color: transparent;
    border: 1px solid $border;
    border-radius: 3px;
    color: $black;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px 10px;

    &:hover,
    &:focus {
      background: $border;
      color: $white;
    }

    &_disabled {
      cursor: not-allowed;
    }

    @include breakpoint(md) {
      font-size: 14px;
      height: 30px;
      margin-top: 4px;
      padding: 1px 5px;
    }
  }
}
