.table {
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__heading {
    margin-left: 10px;
  }

  &__btn {
    background-color: transparent;
    border: 1px solid $border;
    border-radius: 3px;
    margin: 10px;

    &:hover {
      background-color: $border;
      color: $white;
      cursor: pointer;
    }
  }
}
